{
  "plugins": [
    "react-hot-loader/babel",
    "react-loadable/babel",
    "@babel/plugin-syntax-dynamic-import",
    "emotion"
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env",
  ]
}